In [1]:
import quandl

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

Reading The data

In [3]:
df=pd.read_csv('MSFT.csv') #load the file

In [4]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-02-13,267.640015,274.600006,267.149994,271.320007,268.935364,44630900
1,2023-02-14,272.670013,274.970001,269.279999,272.170013,269.777924,37047900
2,2023-02-15,268.320007,270.730011,266.179993,269.320007,267.621613,28922400
3,2023-02-16,264.019989,266.739990,261.899994,262.149994,260.496796,29603600
4,2023-02-17,259.390015,260.089996,256.000000,258.059998,256.432587,30000100

In [5]:
#shape of our data set i.e number of rows and columns
print("rows",df.shape[0],"columns",df.shape[1])

rows 250 columns 7

In [6]:
 # getting information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    object
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.8+ KB

In [7]:
#checking the null values
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
#droping dulicated values
  
df=df.drop_duplicates()
df.shape

(250, 7)

In [9]:
df['Date']=pd.to_datetime(df.Date) #cconvert to date object

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       250 non-null    datetime64[ns]
 1   Open       250 non-null    float64
 2   High       250 non-null    float64
 3   Low        250 non-null    float64
 4   Close      250 non-null    float64
 5   Adj Close  250 non-null    float64
 6   Volume     250 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 13.8 KB

### Plotting the data

In [ ]:
import seaborn as sns

In [ ]:
sns.countplot(df['Close'])

In [ ]:
x=df[['Open','High','Low','Volume']]
y=df['Close']

In [ ]:
df.head()

### Train test and splitting

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size=0.20,random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix,accuracy_score
log=LinearRegression()

In [ ]:
log.fit(x_train,y_train)

In [ ]:
print(log.coef_)
print(log.intercept_)

In [ ]:
y_pred1=log.predict(x_test)

In [ ]:
y_pred1.shape

In [ ]:
dframe=pd.DataFrame(y_test,y_pred1)

In [ ]:
df=pd.DataFrame({'Actual Price':y_test,'Predicted Price':y_pred1})
print(df)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [ ]:
log.score(x_test,y_test)

In [ ]:
import math
from sklearn import metrics

In [ ]:
print("The Mean absolute error:",metrics.mean_absolute_error(y_test,y_pred1))

In [ ]:
print("Root mean squared error",math.sqrt(metrics.mean_squared_error(y_test,y_pred1)))

In [ ]:
graph=df.head(10)

In [ ]:
graph.plot(kind='bar')